:root {
    --color-primary: #94B49F;
    --color-secondary: #CEE5D0;
    --color-menu-bg: #FCF8E8;
    --color-orange: #e69d6f;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: var(--color-secondary); */
    background-image: url(/images/bg-photo.jpg);
}
.bg-menu {
    background-color: var(--color-menu-bg);
}

#menu li>a {
    color: var(--color-primary);
}

/* #dropdown-profile{
    position: absolute;
    right: 0;
} */
#btn-profile {
    background-color: var(--color-menu-bg);
    color: var(--color-primary);

}

.profile-items {
    display: grid;
    grid-gap: 2px;
    background-color: var(--color-secondary);
    /* border: var(--color-orange) solid 1px; */
    list-style: none;
    padding-left: 0;
}

.profile-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.profile-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.profile-item {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: #94B49F solid 1px;
    border-radius: 5px;
    background-color: var(--color-secondary);
    cursor: pointer;
    font-weight: bold;
}

.profile-item a {
    color: var(--color-primary);
    text-decoration: none;

}

.s-w-dropdown {
    padding-left: 5px;
    padding-top: 5px;
}

.home-bg {
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* background-image: url(/images/bg-photo.jpg); */
    
}
.home-bg h1{
    text-shadow: 0 0 7px black ;
    opacity: .8;
}
.img-cover{
   height: 40vh;
}
.my-footer{
    color: var(--color-primary);
}
.general-info{
    width: 75%;
    height: 200px;
    margin: 15px auto;
    background-color: var(--color-menu-bg);
}
.card-my-bg{
    background-color: var(--color-secondary);
    color: var(--color-orange);
    opacity: .9;
}
.general-my-bg {
    background-color: var(--color-secondary);
    color: var(--color-orange);
    opacity: .9;
}
.general-my-bg:hover{
    opacity: 1;
}
.card-my-bg:hover{
    opacity: 1;
}