:root {
    --color-primary: #5375e2;
    --color-secondary: #f65868;
    --color-menu-bg: #5c616e;
    --color-menu-bg-lighter:#7791a1;
    --color-orange: #f3aa92;
    --color-light : #ffffff;
    --color-body-bg: rgb(209, 206, 199);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-body-bg);
    /* background-image: url(/images/bg-photo.jpg); */
}
.bg-menu {
    background-color: var(--color-menu-bg);
}

#menu li>a {
    color: var(--color-primary);
}
#menu li:hover{
    background-color: var(--color-menu-bg-lighter);
    transition: background-color .3s linear .1s;
}
/* #dropdown-profile{
    position: absolute;
    right: 0;
} */
#btn-profile {
    background-color: var(--color-menu-bg);
    color: var(--color-primary);

}
#btn-profile:hover{
    background-color: var(--color-secondary);
    color: var(--color-menu-bg);
    opacity: .5;
    border: 1px solid var(--color-menu-bg);
}
.profile-items {
    display: grid;
    grid-gap: 1px;
    background-color: var(--color-secondary);
    /* border: var(--color-orange) solid 1px; */
    list-style: none;
    padding-left: 0;
}

.profile-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.profile-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.profile-item {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: #94B49F solid 1px;
    border-radius: 3px;
    /* background-color: var(--color-secondary); */
    cursor: pointer;
    font-weight: bold;
    opacity: .5;
}
.profile-item:hover{
    opacity: 1;
    transition: all .3s linear .1s;
}

.profile-item a {
    color: var(--color-primary);
    text-decoration: none;

}

.s-w-dropdown {
    padding-left: 5px;
    padding-top: 5px;
}

.home-bg {
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* background-image: url(/images/bg-photo.jpg); */
    
}
.home-bg h1{
    text-shadow: 0 0 7px black ;
    opacity: .8;
}
.img-cover{
   height: 40vh;
}
.my-footer{
    color: var(--color-primary);
}
.general-info{
    width: 75%;
    height: 200px;
    margin: 15px auto;
    background-color: var(--color-menu-bg);
}
.card-my-bg{
    background-color: var(--color-secondary);
    color: var(--color-orange);
    opacity: .9;
}
.general-my-bg {
    background-color: var(--color-secondary);
    color: var(--color-orange);
    opacity: .9;
}
.general-my-bg:hover{
    opacity: 1;
}
.card-my-bg:hover{
    opacity: 1;
}



.slider {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

.slide h2, .slide p{
    color: var(--color-orange);
}

.slide img {
    width: 100%;
    height: 100%;
}

.active {
    opacity: 1;
}

.slide-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 80px;
    background-color: rgba(0, 0, 0, .5);
}

.indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indicators button {
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 10px 20px;
    font-size: 23px;
}

.indicators button:hover {
    opacity: .7;
}
.my-blog-img{
    object-fit: cover;
    width: 100%;
    height: 40%;
    
}
.articles{
    background-color: var(--color-light);
    border: 1px ridge var(--color-secondary);
    margin: 3px auto;
    height: 100%;
}

.nav-blog{
    
    height: 5.4%;
    margin-top: 5px;

}

.nav-blog a{
    width: 150px;
    color: var(--color-orange);
    background-color: var(--color-light);
    margin-left: 2px;
    border: 1px solid var(--color-orange);
}
.nav-blog a:hover{
    color: var(--color-orange);
}
.my-active{
    color: var(--color-primary) !important;
    background-color: var(--color-body-bg) !important;
    border: 1px solid var(--color-light) !important;
}
