:root {
    --color-primary: #01427a;
    --color-secondary: #8dcbe8;
    --color-menu-bg: #E4F1FF;
    --color-menu-bg-lighter: #d94075;
    --color-text: #6c7998;
    --color-body-bg: #ffffff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-body-bg);
}

.bg-menu {
    background-color: var(--color-menu-bg);
    z-index: 1031;
}

.brand {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li>a {
    color: var(--color-primary);
}

#menu li:hover {
    background-color: var(--color-menu-bg-lighter);
    border-radius: 2px;
    transition: all .3s linear .1s;
}

/* #dropdown-profile{
    position: absolute;
    right: 0;
} */
#btn-profile {
    background-color: var(--color-menu-bg);
    color: var(--color-primary);

}

#btn-profile:hover {
    background-color: var(--color-secondary);
    color: var(--color-menu-bg);
    opacity: .5;
    border: 1px solid var(--color-menu-bg);
}

.profile-items {
    display: grid;
    grid-gap: 1px;
    background-color: var(--color-secondary);
    /* border: var(--color-orange) solid 1px; */
    list-style: none;
    padding-left: 0;
}

.profile-grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.profile-grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.profile-item {
    display: flex;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: #94B49F solid 1px;
    border-radius: 3px;
    /* background-color: var(--color-secondary); */
    cursor: pointer;
    font-weight: bold;
    opacity: .5;
}

.profile-item:hover {
    opacity: 1;
    transition: all .3s linear .1s;
}

.profile-item a {
    color: var(--color-primary);
    text-decoration: none;

}

.s-w-dropdown {
    padding-left: 5px;
    padding-top: 5px;
}

#my-dropdown {
    display: flex;
    justify-content: flex-end;
}


.home-bg {
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    /* background-image: url(/images/bg-photo.jpg); */

}

.home-bg h1 {
    text-shadow: 0 0 7px black;
    opacity: .8;
}

.img-cover {
    height: 40vh;
}

.my-footer {
    color: var(--color-primary);
}

.general-info {
    width: 75%;
    height: 300px;
    margin: 15px auto;
    background-color: var(--color-menu-bg);
    border: 1px solid black;
    box-shadow: -5px 10px 35px gray;

}

.card-my-bg {
    background-color: var(--color-secondary);
    color: var(--color-text);
    opacity: .9;
}

.card-my-bg:hover {}

.general-my-bg {
    background-color: var(--color-secondary);
    color: var(--color-text);
    opacity: .9;
}

.general-my-bg:hover {
    opacity: 1;
}

.card-my-bg:hover {
    opacity: 1;
}



.slider {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
}

.slider div {
    cursor: pointer;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s linear;
}

.slide h2,
.slide p {
    color: var(--color-text);
}

.slide img {
    width: 100%;
    height: 100%;
}

.active {
    opacity: 1;
}

.slide-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 80px;
    background-color: rgba(0, 0, 0, .5);
}

.indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indicators button {
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 10px 20px;
    font-size: 23px;
}

.indicators button:hover {
    opacity: .7;
}

.my-blog {
    margin-top: 50px;
    margin-bottom: 80px;
}

.my-blog .navbar-nav>a {
    color: var(--color-primary);
    background-color: var(--color-menu-bg);
    border-radius: 5px;
}

.my-blog .navbar-nav>a:hover {
    background-color: var(--color-menu-bg-lighter);
    transition: all .3s linear .1s;
}

.my-blog-img {
    object-fit: cover;
    width: 100%;
    height: 40%;

}

.articles {
    background-color: var(--color-light);
    border: 1px ridge var(--color-secondary);
    margin: 3px auto;
    opacity: .8;
}

.articles h2:hover {
    color: var(--color-primary);
}

.articles:hover {
    background-color: var(--color-menu-bg-lighter);
    color: var(--color-secondary);
    opacity: 1;
    transition: all .2s linear .1s;
}

.nav-blog {

    height: 5.4%;
    margin-top: 5px;

}

.nav-blog a {
    width: 125px;
    color: var(--color-text);
    background-color: var(--color-light);
    margin-left: 2px;
    border: 1px solid var(--color-text);
}

.nav-blog a:hover {
    color: var(--color-text);
}

.my-active {
    color: var(--color-text) !important;
    background-color: var(--color-menu-bg-lighter) !important;
    border: 1px solid var(--color-light) !important;
}

/* csharp.html */

.side-nav {
    height: 100%;
    width: 33px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(/images/sidenav.jpg);
    object-fit: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: .5;
}

.side-nav:hover {
    opacity: 1;
    width: 250px;
}

.side-nav a {
    padding: 8px 8px 8px 32px;
    margin-top: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    transition: 0.3s;
    border: 1px dotted var(--color-menu-bg);
}

.side-nav a:hover {
    background-color: var(--color-menu-bg);
    transition: .5s;
    transform: scaleX(0.7);
}

/* .side-nav .close-btn {
    position: absolute;
    color: var(--color-secondary);
    right: 10px;
    top: 60px;
    font-size: 30px;
    width: 40px;
    cursor: pointer;
    text-align: center;
}

.side-nav .close-btn:hover {
    opacity: .9;
    box-shadow: 0 0 var(--color-secondary);
    transition: all .2s linear .2s;
} */
.sidenav-vertical {
    margin-top: 20px;
    color: var(--color-text);
    font-size: 20px;
    font-weight: bold;
    writing-mode: vertical-rl;
    cursor: pointer;
}

/* .side-nav-options {
    font-size: 30px;
    cursor: pointer;
    background-color: var(--color-menu-bg);
    color: var(--color-primary);
    width: 125px;
} */
/* Modal Sign in */

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    height: 150px;
}

#title {
    color: tomato;
    font-weight: normal;
}

#btn-save {
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 14px;
    cursor: pointer;
}

#btn-save:hover {
    opacity: .8;
}

.main-modal {
    z-index: 4000;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.modal {
    background-color: var(--color-menu-bg);
    width: 500px;
    height: 400px;
    padding: 10px 20px;
    margin: 150px 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header-title {
    color: var(--color-primary);
}

.btn-modal-header-close {
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}

.btn-modal-header-close:hover {
    color: var(--color-primary);
    font-size: 25px;
}

.modal-content {
    height: 200px;
    display: flex;
    align-items: center;
}

.modal-content-text {
    font-weight: normal;
}

.modal-footer {
    text-align: end;
}

.modal-menu {
    background-color: var(--color-text);
}

.hidden {
    display: none;
}

.mb-3 {
    margin-bottom: 10px;
}

.my-grid {
    width: 70%;
    margin: 0 auto;
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.my-grid-header {
    border: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-secondary);
    grid-area: 1 / 1 / 2 / 4;
}

.dropdown-edu-animation {
    animation-name: anime-education-dropdown;
    animation-duration: 1s;
}

#edu-calendar {
    animation-name: den;
    animation-duration: 1s;
}

#precondition {
    animation-name: den;
    animation-duration: 1s;
}

#certificate {
    animation-name: den;
    animation-duration: 1s;
}

#edu-content {
    animation-name: den;
    animation-duration: 1s;
}

@keyframes den {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transition: opacity .3s linear .3s;
    }
}

@keyframes anime-education-dropdown {
    from {
        font-size: 0px;
    }

    50% {
        font-size: 8px;
    }

    to {
        font-size: 16px;
    }
}

.navbar-my-animation {
    animation-name: profile-item-ani;
    animation-duration: .1s;
    animation-iteration-count: 8;
}

@keyframes profile-item-ani {
    from {
        transform: translate(-1px, 0px);
    }

    25% {
        transform: translate(0px, 1px);
    }

    50% {
        transform: translate(1px, 0px);
    }

    75% {
        transform: translate(0px, -1px);
    }

    to {
        transform: translate(-1px, 0px);
    }
}

.deneme {
    border-bottom-left-radius: 50%;
}